.titulo
{
	margin-left: 48%;
	margin-top: 1%;
}

.card1
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	text-align: center;
	font-family: arial;
	margin-top: 5%;
	margin-left: 6.5%;
	float: left;
}
  
.card1 button:hover 
{
	background-color:#282929;
	transition: 0.3s;
}

.sigla 
{
	color: grey;
	font-size: 22px;
}

.price
{
	color: black;
	font-size: larger;
}

.card1 button 
{
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}


.overlay 
{
	
    height: 100%;
	width: 0;
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9); 
	overflow-x: hidden; 
	transition: 0.5s;
}
  
 
.overlay-content 
{
	position: relative;
	top: 25%; 
	width: 100%; 
	text-align: center;
	margin-top: 30px; 
}
  

.overlay a 
{
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block; 
	transition: 0.3s; 
}
  
 
.overlay a:hover, .overlay a:focus 
{
	color: #f1f1f1;
}
  
 
.overlay .closebtn 
{
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}
  
  
@media screen and (max-height: 450px) 
{
	.overlay a {font-size: 20px}
	.overlay .closebtn 
	{
	  font-size: 40px;
	  top: 15px;
	  right: 35px;
	}
}

.overlay-content button
{
	transition-duration: 0.4s;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(0, 0, 0);
}

.overlay-content button:hover
{
	background-color: #000000;
	color: white;
}
